 .hover-shadow {
   transition-duration: 0.3s;
 }

 .hover-shadow:hover {
   box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.05);
 }
 
 .detail-img img {
   width: 95px;
   height: 95px;
 }

 @media screen and (max-width: 576px) {
   .detail-img img {
     width: 80px;
     height: 80px;
   }
 }

 .detail-border {
   border: rgb(203, 203, 203) 1px solid;
   border-radius: 6%;
   transition-duration: 0.2s;
 }

 .detail {
   width: max-content;
 }

 .detail-border:hover {
   border: rgb(89, 89, 89) 1px solid;
 }

 .op-50 {
  opacity: 50%;
  transition-duration: 0.3s;
 }

 .op-50:hover {
  opacity: 100%;
 }